@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --crudNAtor-1: #FF8787;
  --crudNAtor-2: #F7FF87;
  --crudNAtor-3: #FFCB87;
  --crudNAtor-4: #9FFF84;
}

/* Remover completamente o bloco para o modo escuro */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
